{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

<style>
body  {


}
</style>


<div class="jumbotron"style= "align:center ;text-align :center; border: 5px ;background-color:#4d4d4d ; color: white ">
  <h1>About Our Products</h1>
</div>
<br>
<br>

        <div class="Teeth_div">
          {% if about_records %}

                {% for acc in about_records %}

                  <div class="container" >
                    <div class="row">
                      <div class="col-xs-4">
                      <!-- <img src= "{% static "images/prostethics.jpg" %}" alt="Uh Oh, didn't show!"> -->
                      <img src="{% if acc.image %}{{ acc.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" height="200px" width="250px"class="w3-circle">
<style>
img {

    border-radius: 50%;
}
</style>
<script>
function bigImg(x) {
    x.style.height = "250px";
    x.style.width = "300px";
}

function normalImg(x) {
    x.style.height = "200px";
    x.style.width = "250px";
}
</script>

                    </div>

                      <div class="col-xs-8">
                    <p style="color:black"><strong>Name                  : <span style="font-family: verdana ; "> {{ acc.name }} </span></strong></p>

                    <p style="color:black"><strong>Description                   :  <span  style="font-family: verdana">  {{ acc.description }} </span></strong></p>
                  </div>
                </div>
                    <hr style="display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;">
                  </div>

                {% endfor %}


          {% else %}
            <p>No Access Records. Table Not Created.</p>
          {% endif %}
        </div>
{% endblock %}
