{% extends "base.html" %}
{% load static %}




{% block title %}
    Your cart
{% endblock %}

{% block content %}





        <div class="container">
        <h2>Your Cart</h2>

        <table class="table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Remove</th>
              <th>Unit Price</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                <tr>
    <td><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"></td>
                    <td>{{ product.name }}</td>
                    <td>
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" value="Update" <button class ="btn btn-primary" style="color:black">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td><a href="{% url "cart:cart_remove" product.id %}"><button class ="btn btn-primary" style="color:black">Remove</button></a></td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td><label>Total</label></td>
                <td colspan="4"></td>
                <td class="num"><label>${{ cart.get_total_price }}</label></td>
            </tr>
            </tbody>
        </table>
      </div>
      <p class="text-right">

          <a href="{% url "home" %}"><button   class =" btn btn-primary" style="color:black">Continue shopping </button></a>

  <a href="{% url "checkout" %}"><button   class =" btn btn-primary" style="color:black">Checkout</button></a>

<!--	<button type="submit", onclick="fun()">Submit</button>--->

</body>
{% endblock %}
