{% extends 'base.html' %}

{% block content %}
<style>
body  {
    background-image: url("https://goo.gl/VHzU3u");
    background-color: #ffffff;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('https://goo.gl/VHzU3u') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
</style>
<div align="left">
  <h1>Sign Up</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</div>
{% endblock %}
